absl-py
clu
einops
flax
optax
git+https://github.com/google/flaxformer
git+https://github.com/akolesnikoff/panopticapi.git@mute
overrides
tensorflow
tfds-nightly
tensorflow-addons
tensorflow-text
tensorflow-gan
