numpy>=1.26
absl-py
git+https://github.com/google/CommonLoopUtils
einops
flax
optax
git+https://github.com/google/flaxformer
git+https://github.com/akolesnikoff/panopticapi.git@mute
overrides
tensorflow-cpu
tfds-nightly
tensorflow-addons
tensorflow-text
tensorflow-gan
